language: julia
codecov: true
coveralls: true
os:
  - linux
#   - osx # Disable to speed up CI. PolyJuMP has no binary dependency so the
          # result with osx and linux should be similar.
  - osx
julia:
  - 1.0
  - 1.3
  - 1.4
notifications:
  email: false
